version: "3.9"

services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000" # API Port
      - "9001:9001" # Web Console Port
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server --console-address ":9001" /data
    volumes:
      - minio_data:/data
    restart: always

  createbuckets:
    image: quay.io/minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 admin password123;
      /usr/bin/mc mb myminio/ch-backups;
      exit 0;
      "

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    restart: always
    depends_on:
      - minio
    ports:
      - "8123:8123"   # HTTP
      - "9002:9000"   # Native (чтобы не конфликтовать с MinIO)
    environment:
      CLICKHOUSE_USER: 'default'
      CLICKHOUSE_PASSWORD: ''
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    volumes:
      - ./ch_data:/var/lib/clickhouse
      - ./config/storage.xml:/etc/clickhouse-server/config.d/storage.xml
      - ./config_backup/config.yml:/etc/clickhouse-backup/config.yml
      - ./deorbit:/home/deorbit

volumes:
  minio_data: